$secondary-collor: hsla(331, 100%, 52%, 0.66);
$primary-color: hsl(249, 11%, 12%);

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $primary-color;
  color: white;
  text-align: center;
  font-family: sans-serif;

  p {
    margin-bottom: 20px;
    font-size: 18px;
  }

  button {
    background-color: $secondary-collor;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: $secondary-collor;
      transform: scale(1.05);
    }

    &:focus {
      outline: none;
    }
  }
}
